<div class="container mt-5">
  <h2 class="mx-4">Contact</h2>
  <p class="mx-4">Drop me a line .. or two .. or three ...</p>
  <div class="card p-4">
  <div class="slider m-4">
    <div class="slide" [class.active]="activeSlideIndex === 0">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
          <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="text-danger">
            Name is required.
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <button class="btn btn-primary" (click)="nextSlide()">Next</button>
          <button class="btn btn-secondary" (click)="clearNameInput()">Clear Name</button>
        </div>
      </form>
    </div>
    <div class="slide" [class.active]="activeSlideIndex === 1">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email">
          <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="text-danger">
            Email is required.
          </div>
          <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="text-danger">
            Please enter a valid email address.
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <button class="btn btn-primary" (click)="prevSlide()">Previous</button>
          <button class="btn btn-primary" (click)="nextSlide()">Next</button>
          <button class="btn btn-secondary float-right" (click)="clearEmailInput()">Clear Email</button>
        </div>
      </form>
    </div>
    <div class="slide" [class.active]="activeSlideIndex === 2">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" formControlName="message" style="resize: none"></textarea>
          <div *ngIf="form.get('message')?.hasError('required') && form.get('message')?.touched" class="text-danger">
            Message is required.
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <button class="btn btn-primary" (click)="prevSlide()">Previous</button>
          <button class="btn btn-secondary" (click)="clearTextarea()">Clear Text</button>
          <button class="btn btn-secondary" (click)="clearForm()">Clear All Fields</button>
          <button class="btn btn-success">Send Message</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
