<div class="container mt-5">
  <div class="p-1 border-radius-2">
    <div class="card-body bg-prime border-radius-2 py-5">
<!--      <p class="d-flex justify-content-end text-white-50"><small>{{ content }}</small></p>-->
      <h4 class="text-white-50">Welcome to</h4>
      <h1 class="text-white">{{ title }}</h1>
      <p class="lead text-white-50">{{ description }}</p>
    </div>
  </div>
</div>

<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-radius-2">
          <div class="card-body border-radius-2">
            <div class="d-flex justify-content-between border-0">
              <p class="nav-link m-1"><strong class="">New here?</strong> Create an account for various
                extra features!</p>
              <a href="/register" class="nav-link font-weight-bold m-1 text-purple"
                 routerLink="register">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-radius-2 p-1">
          <div class="card-body border-radius-2">
            <h5 class="card-title text-white-50">About Me</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-prime">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-radius-2 p-1">
          <div class="card-body border-radius-2">
            <h5 class="card-title text-white-50">Articles</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-prime">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-radius-2 p-1">
          <div class="card-body border-radius-2">
            <h5 class="card-title text-white-50">Projects</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-prime">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-github-banner></app-github-banner>
